<!-- <section class="section section-lg section-coins">
  <img class="path" src="assets/img/path3.png" /> -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4 class="text-uppercase">Learn English Subscriber Base</h4>
              <div class="row text-center">
                <span class="col-6 text-left">Total : </span>
                <span class="col-3" >{{data.totalbasecount}}</span>              
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h4 class="text-uppercase">Categorywise Contents</h4>
              <div class="row text-center">
                <span class="col-6 text-left">Basic : </span>
                <span class="col-3" >{{data.totalbasiccategoryContents}}</span>              
              </div>
              <div class="row text-center">
                <span class="col-6 text-left">Advance : </span>
                <span class="col-3" >{{data.totaladvancecategoryContents}}</span>              
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-uppercase">Activations</h4>
              <div class="row text-center">
              <span class="col-6 text-left">Yesterday : </span>
              <span class="col-3" >{{data.yesterdayactivationcount}}</span>              
            </div>
            <div class="row text-center">
              <span class="col-6 text-left">Today : </span>
              <span class="col-3" >{{data.todayactivationcount}}</span>              
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-uppercase">De-Activations</h4>
              <div class="row text-center">
              <span class="col-6 text-left">Yesterday : </span>
              <span class="col-3" >{{data.yesterdaydeactivationcount}}</span>              
            </div>
            <div class="row text-center">
              <span class="col-6 text-left">Today : </span>
              <span class="col-3" >{{data.todaydeactivationcount}}</span>              
            </div>

            </div>
          </div>
      </div>
    </div>
    </div>

    
</div>