<div class="container my-5">

    <div class="card card-register">
        <div class="card-body">
            <div class="form-group form-inline">
                Full text search: <input class="form-control ml-2" type="text" name="searchTerm"
                    [(ngModel)]="service.searchTerm" />
                <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col" sortable="serviceid" (sort)="onSort($event)">Service Id</th>
                        <th scope="col" sortable="categoryid" (sort)="onSort($event)">Category Id</th>
                        <th scope="col" sortable="lessonid" (sort)="onSort($event)">Lesson</th>
                        <th scope="col" sortable="activedate" (sort)="onSort($event)">Active Date</th>
                        <th scope="col" sortable="contentname" (sort)="onSort($event)">Content</th>
                        <th scope="col" sortable="modifydate" (sort)="onSort($event)">Modify Date</th>
                        <th class="text-center" scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let learnenglish of learnenglishes$ | async">
                        <td>
                            <ngb-highlight [result]="learnenglish.serviceid" [term]="service.searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="learnenglish.categoryid" [term]="service.searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="learnenglish.lessonid" [term]="service.searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="learnenglish.activedate | date:'mediumDate'"[term]="service.searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="learnenglish.contentname" [term]="service.searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="learnenglish.modifydate | date:'mediumDate'"[term]="service.searchTerm">
                            </ngb-highlight>
                        </td>
                        <td class="td-actions text-center">
                            <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon"
                                (click)="onEdit(learnenglish)">
                                <i class="tim-icons icon-settings-gear-63"></i>
                            </button>

                            <button type="button" rel="tooltip" class="btn btn-primary btn-sm btn-icon"
                                (click)="showdialog(learnenglish)">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                    [pageSize]="service.pageSize">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <option [ngValue]="5">5 items per page</option>
                    <option [ngValue]="10">10 items per page</option>

                </select>
            </div>

        </div>
    </div>

    <!--start Edit dialogue -->

    <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black"
        #myModaledit="bs-modal" id="myModaledit" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModaledit.hide()"
                        type="button">
                        <i class="tim-icons icon-simple-remove text-white"> </i>
                    </button>
                    <div class="text-muted text-center ml-auto mr-auto">
                        <h4 class="mb-0">Edit IVR Contents</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form role="form" [formGroup]="manageIvrForm">
                        <div class="row">
                            <div class="form-group col-md-12 text-left">
                                <label for="inputState">Service Id</label>
                                <div class="input-group input-group-alternative"
                                    [ngClass]="{ 'input-group-focus': focus5 === true }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-home"> </i>
                                        </span>
                                    </div>
                                    <input class="form-control myformcontrol" placeholder="Service Id" type="text"
                                        (focus)="focus5 = true" (blur)="focus5 = false" id="serviceid" name="serviceid"
                                        formControlName="serviceid" disabled />
                                </div>
                                <div class="alert alert-danger"
                                    *ngIf="serviceid && serviceid.invalid && (serviceid.dirty || serviceid.touched)">
                                    Service id is required</div>
                            </div>

                            <div class="form-group col-12 text-left">
                                <label for="inputState">Category</label>
                                <select (change)="onChange()" id="inputState" class="form-control  myformcontrol"
                                    id="categoryid" name="categoryid" formControlName="categoryid">
                                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}
                                    </option>>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12 text-left">
                                <label for="inputState">Lesson Id</label>
                                <div class="input-group input-group-alternative"
                                    [ngClass]="{ 'input-group-focus': focus6 === true }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="tim-icons icon-key-25"> </i>
                                        </span>
                                    </div>
                                    <input class="form-control myformcontrol" placeholder="Lesson Id" type="tel"
                                        pattern="[1-9]{1}[0-9]{9}" (focus)="focus6 = true" (blur)="focus6 = false"
                                        id="lessonid" name="lessonid" formControlName="lessonid"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-12 text-left">
                                <label for="inputState">Content Name</label>
                                <div class="input-group input-group-alternative"
                                    [ngClass]="{ 'input-group-focus': focus6 === true }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="tim-icons icon-key-25"> </i>
                                        </span>
                                    </div>
                                    <input class="form-control myformcontrol" placeholder="Content Name" type="text"
                                        (focus)="focus6 = true" (blur)="focus6 = false"
                                        id="contentname" name="contentname" formControlName="contentname" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12 text-left">
                                <label for="inputState">Modify Date</label>
                                <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus18 === true }">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="tim-icons icon-email-85"> </i>
                                    </span>
                                  </div>
                                  <input class="form-control" placeholder="Modify Date" type="text" (focus)="focus18 = true"
                                    (blur)="focus18 = false" id="modifydate" name="modifydate" formControlName="modifydate"
                                    bsDatepicker [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }" />
                                </div>
                                <div class="alert alert-danger"
                                  *ngIf="modifydate && modifydate.invalid && (modifydate.dirty || modifydate.touched)">Modify Date
                                  is
                                  required</div>
                        </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-12 text-left">
                                <label for="inputState">Audio File</label>
                                <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus24 === true }">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="tim-icons icon-email-85"> </i> -->
                                      <a class="tim-icons icon-cloud-download-93" href={{audiofilelabel}} download="audio.mp3">
                                      </a>
                                    </span>
                                  </div>
                                  <div class="custom-file">
                                    <input type="file" id="inputGroupFile01" (focus)="focus24 = true" (blur)="focus24 = false"
                                      accept=".mp3" placeholder="Audio" aria-describedby="inputGroupFileAddon01" id="audiofile"
                                      name="audiofile" required (change)="handleFileInput($event, 1)" formControlName="audiofile" />
                                    <label class="custom-file-label text-left" for="inputGroupFile01">Audio File</label>
                                  </div>
                                </div>
                                <div class="alert alert-danger"
                                  *ngIf="audiofile && audiofile.invalid && (audiofile.dirty || audiofile.touched)">
                                  Audio file is required</div>
                              </div>
                        </div>
                        <div class="row">                
                              <div class="form-group col-md-12 text-left">
                                <label for="inputState">Play Audio</label>    
                                <audio controls class="form-group col-12" src="{{audiofilelabel}}" crossorigin="anonymous">
                                </audio>
                              </div>
                        </div>

                        <div class="form-group text-center">
                            <button class="btn btn-primary my-4" type="button" (click)="onSave()">Save</button>
                            <button aria-hidden="true" class="btn btn-primary my-4" data-dismiss="modal"
                                (click)="myModaledit.hide()" type="button"> Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end Edit dialogue -->

    <!-- Info Dialog -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal
        class="modal fade modal-mini modal-primary modal-mini" #myModalinfo="bs-modal" id="myModalinfo" role="dialog"
        tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModalinfo.hide()"
                        type="button">
                        <i class="tim-icons icon-simple-remove text-white"> </i>
                    </button>
                    <div class="modal-profile">
                        <i class="tim-icons icon-single-02"> </i>
                    </div>
                </div>
                <div class="modal-body">
                    <p>{{myModalinform}}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link btn-neutral" type="button">

                    </button>
                    <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button"
                        (click)="myModalinfo.hide()">
                        Close
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation Dialoge -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal
        class="modal fade modal-mini modal-warning modal-mini" #myModalconfirm="bs-modal" id="myModalconfirm"
        role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModalconfirm.hide()"
                        type="button">
                        <i class="tim-icons icon-simple-remove text-white"> </i>
                    </button>
                    <div class="modal-profile">
                        <i class="tim-icons icon-single-02"> </i>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link btn-neutral" type="button" (click)="onDelete()">
                        Yes
                    </button>
                    <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button"
                        (click)="myModalconfirm.hide()">
                        No
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>